<!--ABOUT US-->
<div class="jumbotronabout">
  <div class="container">
        <h2 class="text-center">About Us</h2>
        <p class="lead">Making quality coffee since 2006</p>
        <p>Started in 2006, we have been a fixture in the Wicker Park community for delivering sound quality brew and healthy food options. With the mindset to deliver unique offerings that is synonymous just as the Wicker Park/Bucktown area. Catering to those that care about variety and also quality food choices. Our dedication to coffee ensures we're also dedicated to the pursuit of crafting amazing coffee. We're constantly innovating, learning, and improving our decaffeination techniques for precisely removing caffeine.</p>
      </div>
