<div class="jumbotron">
  <div class="container">
    <h1 class="coffeecafe">{{coffee.greeting}}</h1>
  </div>
</div>

<!--SITE INFO-->
<div class="container">
    <p class="text-center">Speciality Coffees</p>
    <div class="row marketing">
        <div class="col-sm-6 text-center">
          <i class="fa fa-coffee"></i>
            <h2>San Pedro</h2>
            <p class="lead">Milk Chocolate Lemon Toffee</p>
        </div>
        <div class="col-sm-6 text-center">
          <i class="fa fa-coffee"></i>
            <h2>BlackSmith</h2>
            <p class="lead">Dark Chocolate Cherry Vanilla</p>
            </div>
        </div>
    </div>
