<!--INTRODUCTION -->
<div class="jumbotron">
    <div class="container">
        <h1 class="coffeecafe">{{coffee.greeting}}</h1>
        <p class="lead about">Come and enjoy our great selection of fresh brewed coffee along with being in a great working space!</p>

    </div>
</div>

<!--SITE INFO-->
<div class="container">
    <p class="text-center coffee">Speciality Coffees</p>
    <div class="row marketing">
        <div class="col-sm-4 text-center">
            <i class="fa fa-coffee san"></i>
            <h2>San Pedro</h2>
            <p class="lead">Milk Chocolate Lemon Toffee</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa fa-coffee smith"></i>
            <h2>BlackSmith</h2>
            <p class="lead">Dark Chocolate Cherry Vanilla</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa fa-coffee john"></i>
            <h2>Graham Cracker John</h2>
            <p class="lead">Graham Cracker Almond Hazelnut</p>
        </div>
    </div>
</div>
<hr>

<!--MORE INFO-->
<div class="container text-center">
    <p class="lead">Plus More! Check out the menu</p>
    <a href="#/menu">
        <button class="btn form-btn">MENU</button>
    </a>
</div>
