<!DOCTYPE html>
<html ng-app="module.login">
  <head>
    <meta charset="utf-8">
    <title>CoffeeCafe</title>
    <link rel="shortcut icon" href="/css/coffeecafe.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Graduate|Josefin+Slab|Pacifico" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
      <script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="/js/module.login.js"></script>
  </head>

  <body class="loginform" ng-controller="controller.login as login">
    <!--LOGIN FORM-->

    <a href="/"><h1 class="text-center login"><img id="logo" src="/img/coffeecafelogo.png" alt="logo" height="22">CoffeeCafe</h1></a>
    <form class="formlogin" ng-submit="login.submit()">
      <legend class="text-center"> Log In</legend>

        <label for="email">Email</label>
        <input class="form-control" type="email" ng-model="login.email" placeholder=" Enter your email.."><br>

        <label for="password">Password</label>
        <input class="form-control" type="password" ng-model="login.password" placeholder="Enter your password..">

        <button class="btn btn-default login" type="submit">Log In</button>
        <a class="text-center recover" href="/views/forgot.html">Recover Password</a><hr>
        <a href="/#/register"><h5 class="registerredirect">Haven't registered? Sign up for a account</h5></a>
    </form>
  </body>
</html>
