<div class="jumbotronregister">
  <div class="container">
		<h1 class="text-center">Registration</h1>
			<p class="lead about text-center">Join the Club! Sign-up for the latest news, offers, and exclusive promotions from CoffeeCafe.</p>
		</div>
	</div>

			<!--REGISTRATION FORM-->
            <h2 class="text-center">Sign Up</h2>
            <form class="formregister" ng-submit="coffee.siteRegister()">
              <label for="name">Name</label>
                <input class="form-control" type="name" ng-model="coffee.newUser.name" placeholder=" Enter your name.."><br>

                <label for="email">Email</label>
                <input class="form-control" type="email" ng-model="coffee.newUser.email" placeholder=" Enter your email.."><br>

                <label for="password">Password</label>
                <input class="form-control" type="password" ng-model="coffee.newUser.password" placeholder="Enter your password..">

                <button class="btn btn-default register" type="submit">REGISTER</button>
            </form>
