<h2 class="text-center">Registration</h2>
			<p class="lead text-center">Fill out the form below to register for an CoffeeClub Membership</p>
			<!--REGISTRATION FORM-->
			<div class="container">
				<form class="form-signin" ng-submit="coffee.register()">
					<h2 class="form-signin-heading">Please sign up</h2>

          <label for="exampleInputName2" class="sr-only">Name</label>
					<input type="text" id="inputEmail" class="form-control" placeholder="Name" required autofocus>
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<button class="btn btn-lg btn btn-success btn-block" type="submit">Sign up</button>
				</form>
			</div>
