
  <!--LOGIN FORM-->
  <h1 class="text-center login"><img id="logo" src="/img/coffeecafelogo.png" alt="logo" height="22">CoffeeCafe</h1>

  <form class="formlogin" ng-submit="coffee.resetNewPassword()">
    <legend class="text-center"> RESET PASSWORD</legend>

      <label for="email">Email</label>
      <input class="form-control" type="email" ng-model="coffee.email" placeholder=" Enter your email.."><br>

      <label for="password">Password</label>
      <input class="form-control" type="password" ng-model="coffee.password" placeholder="Enter your password..">

      <button class="btn btn-default login" type="submit">Update Password</button>
    </form>
  </body>
</html>
