.navbar-brand {
    font-family: 'Graduate', cursive;
    text-shadow: $secondary-color 0.3em 0.3em 0.3em;
    color      : $hover-color;
}

.nav {
    background-color: $primary-color;
}

li a {
    color: #FFF;

    &:hover {
        color: $hover-color;
    }
}
