h1 {
    font-family: $stack-graduate;
}

a {
    font-family: $stack-graduate;

    &:hover {
        color: #FFF;
    }
}

.about {
    font-family: $stack-joseph;
}

p {
    font-family: $stack-pacifico;
}
