body,
html {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position  : relative;
}

#content {
    padding-bottom: 100px;
    /* Height of the footer element */
}

.coffee {
    padding-top: 20px;
    font-size  : 18px;
}

.menu {
    padding-top: 20px;
}

h5 {
    color      : $hover-color;
    font-family: $stack-joseph;
}
