body,
html {
    height: 100%;
}

#logo {
    margin : -3px 5px -3px -3px;
    display: inline;
}

#wrapper {
    min-height: 100%;
    position  : relative;
}

#content {
    padding-bottom: 100px;
    /* Height of the footer element */
}

.coffee {
    padding-top: 20px;
    font-size  : 18px;
}

.menu {
    padding-top: 20px;
}

h5 {
    color      : $hover-color;
    font-family: $stack-joseph;
}

.logout {
    color: $primary-color;

    &:hover {
        color: $hover-color;
    }
}
