//COLORS
$primary-color  : #c19d67;
$secondary-color: #5e4423;
$hover-color    : #3a2306;
//FONTS
$stack-pacifico : 'Pacifico', cursive;
$stack-joseph   : 'Josefin Slab', serif;
$stack-cabin    : 'Cabin Sketch', cursive;
