//COLORS
$primary-color  : #D2B48C;
$secondary-color: #5e4423;
$hover-color    : #3a2306; //FONTS
$stack-pacifico : 'Pacifico', cursive;
$stack-joseph   : 'Josefin Slab', serif;
$stack-graduate : 'Graduate', cursive;
