.btn {
    font-family     : $stack-joseph;
    background-color: $primary-color;
    color           : $secondary-color;

    &:hover {
        background: $secondary-color;
        color     : $primary-color;
    }
}
